.container { 
    padding: 2%; 
}

.row {
    display: flex;
    justify-content: center;
}

.form-container { 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.my-form { 
    padding: 20px;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}
.error-text {
    display: block;
    margin-top: 5px;
}
.full-width-button {
    width: 100%;
}